:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  }
  
  .edit-popup{
    margin: 30px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    height: 80%;
    position: relative;
    transition: all 1s ease-in-out;
    }
    .edit-popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    }

    .edit-popup .content{
    max-height: 100%;
    margin-top: 30px;
    }
  
  
  .edit-del-pop{
    margin: 30px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 25%;
    position: fixed;
    top:20%;
    left:35%;
    transition: all 1s ease-in-out;
   
  }
  .edit-del-pop .close{
    position: absolute;
    top: 10px;
    right: 40px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .edit-del-pop .close:hover{
    color:var(--color-danger);
  }
  
  overlay .content{
    overflow: hidden;
  }
  
   
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  
  input[type=submit] {
    width: 100%;
    font-family: poppins;
    font-weight: 500;
    background-color: #f73e3e ;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:.3s all ease;
  }
  
  input[type=submit]:hover {
    background-color: white;
    border:1px solid #f73e3e;
    color: #f73e3e;
  }
  
  

  /* Add Product popUp Box */
  form.addCustomer .row1, .row2, .row3, .row4{
    margin-bottom: 1rem;
    display: flex;
  }
  /* form.addProduct .row1{
    
  } */
  
  
  form.addCustomer .row1 .col1{
    flex: 1;
  }
  
  
  form.addCustomer .row2 .col1{
    flex: 1;
  }
  
  form.addCustomer .row3 .col1{
    flex: 1;
  }
  
  form.addCustomer .row4 .col1{
    flex: 1;
  }
  
  
  
  /* deletepop up */
  .del-popup .row1{
    margin-top: 2rem;
    display: flex;
  }
  
  .del-popup .row1 .col1{
    width: 100%;
    flex: .5;
  }
  
  .del-popup .row1 .col2{
    width: 100%;
    flex: .5;
    
  }
  
  main .recent-customer{
    margin-top: 2rem;
  }
  
  main .recent-customer h2{
    margin-bottom: 0.8rem;
  }
  
  main .recent-customer table{
    background-color: var(--color-white);
    width: 100%;
    margin-bottom: 20px;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: LEFT;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  
  main .recent-customer table:hover{
    box-shadow: none;
  }
  
  main .recent-customer table:hover{
    box-shadow: none;
  }
  
  /* main table thead tr th{
    padding-bottom: 10px;
  }
  main table tbody td{
    height: 3rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
  } */
  
  /* main table tbody tr:last-child td{
    border: none;
  } */
  
  main .recent-customer a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-dark);
  }
  
  
  
  
  
  /* #product-btn{
  border: 1px solid black;
  font-size: .9rem;
  position: relative;
  left: 350px;
  border-radius: 25px;
  width: 10rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-success);
  }
  
  #product-btn p{
  border: 1px solid red;
  
  }
  
  #product-btn span.text{
  margin-bottom: 20px;
  font-weight: 700;
  word-spacing: 1;
  margin-bottom: 4px;
  }
  
  #product-btn span.product-icon{
  color:grey; 
  font-size: 22px; 
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  } */
  
  
  #customer-btn{
  /* background-color: var(--color-success); */
  color: var(--color-primary-variant);
  padding: 4px 25px;
  text-decoration: none;
  position: relative;
  left: 350px;
  border:1px solid var(--color-dark-variant);
  border-radius: 25px;
  }
  
  #customer-btn .add{
  font-size: 15px;
  font-weight: 700;
  margin-right:10px;
  padding: 2px;
  
  }
  #customer-btn:hover {
  border-color: var(--color-success);
  }
  
  
  /* table tbody tr{
    margin-top: 30px;
  }
  
  tbody .edit-btn, .del-btn{
    transition: all ease 0.1s;
    color: var(--color-info-dark);
    font-size: 22px;
  }
  
  tbody .edit-btn:hover{
    color: var(--color-success);
  } */
  

  /* tbody .del-btn:hover{
    color:var(--color-danger);
  } */

  tbody td .button{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-right: 20px;
    }
  
  
  
  
  
  
  
  
  /*  == Search bar=== */
  
.customer-container{
    display: flex;
    margin-top: 500px;
    height: 50px;
    align-items: center;
  }   
  /* .searchBar {
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--color-dark-variant);
    border-radius: 25px;
  }
  
  #searchQueryInput {
    width: 100%;
   // height: 2rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  } 
  
  #searchQuerySubmit {
    width: 3rem;
    height: 2rem;
    margin-top: .2rem;
    margin-left: -2rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
      color: var(--color-dark);
    cursor: pointer;
  } */
  
  /* .customer-container .addCustomer{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    font-weight: 700;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: var(--color-success);
  } */
  
  .customer-container .addCustomer::-ms-value{
    font-family: poppins;
  }


  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  